# App Settings
APP_ENV=local # local, staging, production
APP_DEBUG=true

# Database Settings
DB_HOST=localhost
DB_PORT=3306
DB_NAME=quanao
DB_USER=root
DB_PASS=

# VNPAY Sandbox Configuration
VNP_TMN_CODE=ZIBGIKIA
VNP_HASH_SECRET=QPMIE3OYTFOK49VSBAVTWKZRFXVIV9I2
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost/web_qlsp/payment/return
VNP_API_URL=http://sandbox.vnpayment.vn/merchant_webapi/merchant.html
